@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem; /* 요소들 사이의 간격 */
}

.icon {
  margin: 0;
}

.icon img {
  max-width: 200px; /* 로고 크기 조정이 필요하다면 이 값을 수정하세요 */
  height: auto;
}

.main_img {
  text-align: center;
}

.main_img img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 20px;
}

.subtitle {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.touch {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

.page-exit {
  animation: fadeOut 0.5s forwards;
}
