@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.icon {
  margin: 0;
}

.icon img {
  max-width: 12.5rem;
  height: auto;
}

.main_img {
  text-align: center;
}

.main_img img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1.25rem;
}

.subtitle {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  font-weight: 400;
}

.touch {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

.page-exit {
  animation: fadeOut 0.5s forwards;
}
