.container {
  display: flex;
  width: 100%;
  height: 800px;
  gap: 65.8px;
}

.item_box {
  overflow-y: auto;
  padding-top: 20px;
  height: 100%;
  padding-bottom: 100px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 41px;
  max-width: 447px;
  padding-top: 60px;
  position: fixed;
  right: 75px;
}

.itemsContainer {
  flex: 1;
  height: 800px;
  overflow-y: auto;
  padding-top: 20px;
}

.first {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sub {
  font-weight: bold;
  gap: 24px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

.btn {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.pay {
  width: 283px;
  height: 100px;
  background-color: hotpink;
  border-radius: 15px;
  /* border: 1px solid #fce8f2; */
  font-size: 32px;
  color: #fce8f2;
}

.delete {
  border: 1px solid hotpink;
  padding: 10px;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fce8f2;
}

li {
  font-size: 16px;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trash {
  width: 70px;
  height: 70px;
  stroke-width: 0.8;
  color: hotpink;
}
