.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 12rem;
}

.item_box {
  overflow-y: auto;
  padding-top: 7rem;
  margin: 0 auto;
  max-width: 42.5rem;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 27.9375rem;
  padding: 1.5rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
}

.first {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sub {
  font-weight: bold;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.pay {
  width: 17.6875rem;
  height: 4.5rem; /* 버튼 높이 줄임 */
  background-color: hotpink;
  border-radius: 15px;
  font-size: 2rem;
  color: #fce8f2;
}

.delete {
  border: 1px solid hotpink;
  padding: 0.625rem;
  border-radius: 15px;
  width: 4.5rem; /* 버튼 크기 줄임 */
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fce8f2;
}

.trash {
  width: 2.5rem;
  height: 2.5rem;
  stroke-width: 0.8;
  color: hotpink;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1.25rem;
}

@media (max-width: 374px) {
  .container {
    padding-bottom: 20rem;
  }

  .box {
    gap: 1rem;
    padding: 1rem;
  }

  .first {
    gap: 0.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }

  .pay {
    height: 3.5rem;
    font-size: 1.5rem;
  }

  .delete {
    width: 3.5rem;
    height: 3.5rem;
  }

  .trash {
    width: 1.75rem;
    height: 1.75rem;
  }
  ul li {
    display: none;
  }
}
