@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@font-face {
  font-family: "Bazzi";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #ffffff;
  font-family: "Bazzi";
  font-size: 0.875rem;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1.125rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 14.546875rem;
  object-fit: cover;
  border-radius: 10%;
  border: 3px solid rgb(255, 181, 255);
}

.swiper-button-prev,
.swiper-button-next {
  top: 9.375rem;
  color: #222;
}

h3 {
  font-size: 1.5rem;
  text-decoration: underline;
  padding-bottom: 1.25rem;
  font-weight: bold;
}
strong {
  font-size: 1.25rem;
  width: 12.5rem;
  max-width: 12.5rem;
  display: block;
}
s {
  font-weight: normal;
  font-size: 1rem;
}
em {
  font-style: normal;
  font-size: 1rem;
  color: #ff2626;
}
span {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}
section {
  width: 100%;
  margin: 0 auto;
  padding: 1.875rem 5.625rem 0;
}

.swiper-slide > div {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  overflow: hidden;
  align-items: center;
}

.listContainer {
  height: calc(100vh - 18.75rem);
  position: relative;
  padding-bottom: 0;
  overflow-y: auto;
}

.buttonDiv {
  position: sticky;
  left: 75rem;
  width: 5rem;
  /* height: 140px; */
  bottom: 1.25rem;
  z-index: 100;
  padding: 10px;

  border-radius: 0.625rem;
  margin-bottom: -8.75rem;
}

.topButton {
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  width: 100%;

  height: 5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: background-color 0.3s;
}

.topButton:hover {
  background-color: rgb(255, 181, 255);
}

.bottomButton {
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
  width: 100%;

  height: 5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: background-color 0.3s;
}

.bottomButton:hover {
  background-color: rgb(255, 181, 255);
}

.cartAmount {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 1.25rem;
  position: absolute;
  right: 1.125rem;
  top: 1.75rem;
}
