@font-face {
  font-family: "Bazzi";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  width: 100%;
  background-color: rgb(253, 165, 234);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logoImage {
  width: 12.5rem;
  height: 2.839375rem;
}

.headerContainer {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 1.5625rem 6.25rem;
  background-color: rgb(253, 165, 234);
}

.burgerMenu {
  display: none;
  cursor: pointer;
  z-index: 1001;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: all 0.3s ease;
}

.burgerMenu.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(1px, 9px);
}

.burgerMenu.active .bar:nth-child(2) {
  opacity: 0;
}

.burgerMenu.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(1px, -9px);
}

.navContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  transition: max-height 0.3s ease-out;
  /* max-height: 0; */
  overflow: hidden;
}

.navContainer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navContainer li {
  margin: 0 1rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
}

.navLinkActive {
  color: black;
  text-decoration: none;
}

.navLink {
  color: rgb(255, 255, 255, 0.6);
  text-decoration: none;
}

@media (max-width: 374px) {
  .burgerMenu {
    display: block;
  }

  .headerContainer {
    padding: 1rem;
    position: relative;
  }

  .logoImage {
    width: 8rem;
    height: 1.8rem;
  }

  .navContainer {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgb(253, 165, 234);
    left: 0;
    top: 100%;
    padding: 1rem 0;
  }

  .navContainer.showMenu {
    display: block;
  }

  .navContainer ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin: 0;
    padding: 1rem 0;
  }

  .navContainer li {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .navContainer a {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0;
  }

  .navLinkActive,
  .navLink {
    display: block;
    width: 100%;
    text-align: center;
  }
}
