/* @font-face {
  font-family: "SDSamliphopangche_Basic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: "GeekbleMalang2WOFF2";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "Bazzi";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
header {
  width: 100%;
  height: 96px;

  background-color: white;

  padding: 25px 100px;
  box-sizing: border-box;
}

.logoImage {
  width: 200px;
  height: 45.43px;
}

.header_container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 200px;
  padding: 0;
}

.nav_container {
  flex: 1;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.nav_container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav_container li {
  margin-right: 20px;

  font-weight: 400;
  font-size: 32px;
  line-height: 46.34px;
}
.nav-linkActive {
  color: black;
}
.nav-link {

  color: rgb(255, 255, 255, 0.6);
}

