.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 42.5rem;
  display: flex;
  align-items: center;
  padding: 0px 3.84375rem 1.25rem;
}

.com {
  border: 3px solid rgb(255, 181, 255);
  width: 34.8125rem;
  height: 10.375rem;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.bigBox {
  border: 3px solid rgb(255, 214, 255);
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  display: flex;
  gap: 0.625rem;
  padding: 0.625rem 1.25rem;
}

.moveBtn {
  width: 3.125rem;
  height: 3.125rem;
  border: 1px solid #fce8f2;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hotpink;
}

.pName {
  text-align: center;
  font-size: 1rem;
  padding: 0.3125rem 0.625rem;
}

.icon {
  color: #fce8f2;
}
