.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280px;
  height: 800px;
  border: 1px solid #000;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 40px;
}

.overflowY {
  overflow-y: auto;
}

.noOverflow {
  overflow-y: hidden;
}
